<div class="client">
  <img src="images/rafe.png" alt="err" id="client-img">
  <div class="infos">
    <p><%= lClient.name %></p>
    <p><%= lClient.ip %></p>
  </div>
  <a href="/panel?client=<%= lClient.id %>"><button type="button" name="button" id="button">Connect</button></a>
</div>
