<div class="login-form">
  <form class="box" action="/login" method="post">
    <div class="icon">
      <span class="login-line"></span>
      <i class="fa-solid fa-lock fa-4x"></i>
      <span class="login-line"></span>
    </div>
    <a href="/login"><h1>Login</h1></a>
    <div class="textbox">
      <div class="icon-div">
        <i class="fa-solid fa-user fa-xl" id="textbox-icon"></i>
      </div>
      <input type="text" name="username" placeholder="Nazwa użytkownika">
    </div>
    <div class="textbox">
      <div class="icon-div">
        <i class="fa-solid fa-lock fa-xl" id="textbox-icon"></i>
      </div>
      <input type="password" name="password" placeholder="Hasło">
    </div>
    <input type="submit" name="LogMeIn" value="Login">
  </form>
</div>
